.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 5px 9px 5px 9px ;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

}

.dialogsItems{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 9px 5px 9px ;
}
.dialogsItems .active {
    
    color: gold;
}
.messages {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 5px 9px 5px 9px ;
}


.messages .message {
padding: 10px;
}